/***************
NAV
****************/

nav{
	font-family: roboto;
	margin-top: 200px;
	margin-bottom: 20px;
	margin-right: 100px;
	margin-left: 100px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	list-style-type: none;
}

/***************
HEADING
****************/

#header{
	padding-top: 50px;
	font-family: roboto;
	font-size: xx-large;
	text-align: center;
	color: white;
	size: xx-large;  
}

/***************
FOOTER
****************/

#footer{
	font-family: roboto;
	font-size: small;
	text-align: center;
	color: white;
}

/***************
CAROUSEL
****************/

.carousel-control {
	border: transparent;
}

.carousel-inner {
	margin-right: 100px;
}


/***************
.carousel .item img {
	margin-left: 100px;
	margin-right: 100px;
}

/***************
TEXT
****************/

p{
	font-family: roboto;
	font-size: large;
	color: white;
	text-decoration: none;
	margin-right: 100px;
	margin-left: 100px;
}

a{
	text-decoration: none;
	color: white;
	flex: 4;
	height: auto;
	font-family: roboto;
	padding: 5px;
	padding-top: 20px;
	padding-bottom: 10px;
	text-align: center;
	font-size: 2em;
	border: 1px solid white;
	margin-right: 100px;
	margin-left: 100px; 
}

/***************
TEXT HEADINGS
****************/

hr{	
	margin-right: 100px;
	margin-left: 100px; 
}

h2{
	font-family: roboto;
	color: white;
	margin-right: 100px;
	margin-left: 100px; 
}

/***************
IMAGES
****************/

img{
	margin-left: 100px;
	margin-right: 100px;
}

/***************
FORM
****************/

form {
	color: black;
	width: 350px;
	border: 1px solid #999;
	border-radius: 20px;
	clear: both;
	padding: 20px;
	margin-bottom: 100px;
	margin-top: 100px;
	background-color: rgba(129, 187, 201, .2);
}

fieldset {
	margin-bottom: 5px;
	border: none;
}

.field {
	padding: 6px 8px;
}
    
label.field,
legend {
	display: block;
	text-align: left;
	color: white;
	width: 100px;
	float: left;
	clear: both;
}

input {
	width: 200px;
	border-radius: 5px;
	padding: 6px 8px;   
}

form.textarea {
	width: 100px;
	height: 100px;
}

#submit {
	width: 100%;
}
